<h1>StaticPages#home</h1>
<p>Hey <%=@namer%>, I don't try anything, I just do it.<br>
Want to try me?</p>

Now the time is:
<%=@mytime%><br>
<%
for i in (1..10)
  print "i is "+i.to_s+"<br>\n"
end
%>
